
*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.title {
  margin: 0;
}

/* .selector__box {
  display: none;
  position: relative;
  font-family: inherit;
  grid-template-areas: "select";
  align-items: center;
}

.selector__options {
  appearance: none;
  outline: none;
  font-size: 10.5px;
  line-height: 100%;
  text-align: center;
  width: 131px;
  height: 28px;
  border: 2px solid #333333;
}

.selector__box::after {
  position: absolute;
  left: 114.5px;
  content: "";
  width: 10.5px;
  height: 7px;
  background-color: #333333;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.selector__options, .selector__box:after {
  grid-area: select;
  justify-self: end;
} 

@media all and (min-width: 768px) {
  .selector__box {
    display: grid;
  }
}

@media all and (min-width: 1100px){
  .selector__options {
    font-size: 13.5px;
    width: 173px;
    height: 36px;
  }
} */

.selector__options {
  text-align: center;
  width: 200px;
  height: 36px;
  border: 2px solid #333333;
  outline: none;
  text-align-last:center;
}

.selector__options option{
  font-size: 20px;
  padding-left: calc(50% - 1em);
}